<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>

    </ion-buttons>
    <ion-title>
      Home
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="center">    
    <div style="display:none" id="online">
      <ion-button shape="round" id="open-modal">Chat With Us</ion-button>
    </div>
    <div style="display:none" id="offline">
      <ion-button [disabled]="true" shape="round">No Agents Available</ion-button>
    </div>
  </div>

  <ion-modal #modal trigger="open-modal" (willPresent)="opened()" [presentingElement]="presentingElement">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Support</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="modal.dismiss()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <p class="center">{{message}}</p>
        <iframe class="chat-iframe" name="chat"></iframe>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>